<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="img/favicon.ico" rel="shortcut icon" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic"
	rel="stylesheet">
<title>Opium</title>
</head>
<body>
	<!-- LOADER -->
	<div id="loader-wrapper">
		<div class="cssload-container">
			<div class="cssload-whirlpool"></div>
		</div>
	</div>
	<!-- LOADER -->

	<!-- HEADER -->
	<header class="header-style header-style2 header-style3 header-style4">
		<div class="hamburger-icon3">
			<span></span> <span></span> <span></span>
		</div>
		<div class="header-content">
			<div class="row">
				<div class="col-xs-6 col-sm-2">
					<a class="logo" href="index.html"> <img src="img/logo.png"
						alt="#" />
					</a>
				</div>
				<div class="col-xs-6 col-sm-10">
					<div class="hamburger-icon">
						<span></span> <span></span> <span></span>
					</div>
					<div class="hamburger-icon2">
						<span></span> <span></span> <span></span>
					</div>
					<nav class="normal-s">
						 <ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
					</nav>
				</div>
				<div class="section">
					<p>A small design & technology freelancer based out of Atlanta,
						GA. Catch up on my latest projects and get in touch.</p>
				</div>
				<div class="category">
					<span class="small-1">CATEGORY</span>
					<ul>
						<li class="active">All</li>
						<li>Development</li>
						<li>Illustration</li>
						<li>Product</li>
						<li>Typography</li>
					</ul>
				</div>
				<div class="sort-by">
					<span class="small-1">SORT BY</span>
					<ul>
						<li>Random</li>
						<li class="active">Popular</li>
						<li>Rate</li>
					</ul>
				</div>
				<div class="normal-3 section">
					<ul>
						<li><a href="tel:+138(095)6526538">+138 (095) 6526 538</a></li>
						<li><a href="mailto:info@opium.com">info@opium.com</a></li>
					</ul>
					<div class="empty-space h10-xs fl"></div>
					<div class="follow">
						<a class="social" href="https://www.facebook.com/" target="_blank">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a> <a class="social" href="https://www.instagram.com/"
							target="_blank"> <i class="fa fa-instagram"
							aria-hidden="true"></i>
						</a> <a class="social" href="https://www.pinterest.com/"
							target="_blank"> <i class="fa fa-pinterest-p"
							aria-hidden="true"></i>
						</a> <a class="social" href="https://www.twitter.com/" target="_blank">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="mob-icon"></div>
		</div>
	</header>
	<!-- HEADER -->

	<!-- OVERLAY-MENU -->
	<div class="overlay-wrapper height-min">
		<div class="overlay-animation"></div>
		<div class="flex">
			<div class="flex-in">
				<div class="overlay-menu">
					<div class="container">
						<div class="row">
							<div class="btn-close">
								<span></span><span></span>
							</div>
							<div class="col-lg-2 col-lg-offset-5">
								<ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end OVERLAY-MENU -->

	<!-- content -->
	<div id="content-wrapper">

		<div class="empty-space h35-xs h90-sm"></div>
		<div class="container-fluid-style2">
			<div class="banner">
				<span class="bg top"
					style="background-image: url(img/about-img-1.jpg)"></span>
				<div class="banner-element">
				<div style="width: 137px;height: 137px; border-radius:250px;overflow: hidden;"><img th:src="@{'img/img-footer-'+${user.avatar}+'.jpg'}"  alt=""></div>
				</div>
			</div>
			<div class="empty-space h100-xs h175-md"></div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">					
					<article class="top-title">
						<span>基本信息</span>
						<h1 th:text="${user.Name}" class="h1"></h1>
						<div class="empty-space h15-xs"></div>
						<p th:text="${user.signature}" class="normal-l grey-dark"></p>
					</article>
				</div>
			</div>
			<div class="empty-space h30-xs"></div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center section">
					<p th:text="${user.self_introduce}"></p>
					<div class="empty-space h10-xs"></div>

				</div>
			</div>
			<div class="empty-space h70-xs h140-md"></div>
			<div class="benefits">
				<div class="cell-view">
					<img src="img/about-img-2.jpg" alt="">
				</div>
				<div class="empty-space h35-xs h0-md"></div>
				<div class="cell-view">
					<article>
						<h4 class="h4 text-left">详细信息</h4>
						<div class="empty-space h15-xs"></div>
						<div class="empty-space h15-xs"></div>
						<div class="empty-space h15-xs"></div>
						<div class="empty-space h15-xs"></div>
						<p>
							<span>性别</span>
						<p th:text="${user.gender}"></p>
						</p>
						<div class="empty-space h20-xs"></div>
						<div class="empty-space h20-xs"></div>
						<p>
							<span>地址</span>
						<p th:text="${user.address}"></p>
						</p>
						<div class="empty-space h20-xs"></div>
						<div class="empty-space h20-xs"></div>
						<p>
							<span>生日</span>
						<p th:text="${user.birthday}"></p>
						</p>
						<div class="empty-space h20-xs"></div>
						<div class="empty-space h20-xs"></div>

					</article>
				</div>
			</div>
			<div class="empty-space h70-xs h140-md fl"></div>
			<div th:if="${info.id} eq ${userId}" class="row">
				<div class="col-md-6 col-md-offset-3">
					<article class="top-title">
						<span>————————</span>
						<h1 class="h1">现在就开始</h1>
						<div class="empty-space h15-xs"></div>
						<p class="normal-l grey-dark"></p>
					</article>
				</div>
			</div>
			<div class="empty-space h40-xs h90-md"></div>
			<div class="row">
				<div th:if="${info.id} eq ${userId}"
					class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="service">
								<a href="http://localhost:8088/"> <img src="img/service-img-1.png" alt="">
									<span>写一篇文章</span>
								</a>
								<p></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="service">
								<a href="http://施工中。。。。。"> <img src="img/service-img-2.png" alt="">
									<span>上传我的相册</span>
								</a>
								<p></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="service">
								<a href="http://localhost:8085/update"> <img src="img/service-img-3.png" alt="">
									<span>修改我的主页</span>
								</a>
								<p></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="service">
								<a href="http://施工中。。。"> <img src="img/service-img-4.png" alt="">
									<span>上传我的视频</span>
								</a>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="empty-space h35-xs h100-md"></div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<article class="top-title">
						<span></span>
						<h1 class="h1">我的分类</h1>
						<div class="empty-space h15-xs"></div>
						<p class="normal-l grey-dark"></p>
					</article>
				</div>
			</div>
			<div class="empty-space h40-xs h80-md"></div>
			<div class="swiper-with-pagination style2">
				<div class="swiper-container" data-speed="1000" data-breakpoints="1"
					data-space="30" data-slides-per-view="4" data-xs-slides="1"
					data-sm-slides="2" data-md-slides="3" data-lg-slides="3">
					<div class="swiper-wrapper">
						<div th:each="ca:${catalog}" class="swiper-slide">
							<a th:href="@{http://localhost:8083/blogBycat(catId=${ca.id},userId=${userId},page=0)}"><img th:src="'img/about-img-'+${ca.id}%10+'.jpg'" alt=""></a>
							<div class="team-description">
								<br>
								<div class="empty-space h10-xs"></div>
								<span th:text=${ca.name}></span>
							</div>
						</div>

						<div class="empty-space h35-xs"></div>
						<div class="swiper-pagination-wrapper">
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				<div class="empty-space h70-xs h140-md fl"></div>

				<div class="empty-space h70-xs h140-md"></div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<article class="top-title">
							<span></span>
							<h1 class="h1">最近发表</h1>
							<div class="empty-space h15-xs"></div>
							<p class="normal-l grey-dark"></p>
						</article>
					</div>
				</div>
				<div class="empty-space h40-xs h80-md"></div>
				<div class="swiper-with-pagination style3">
					<div class="swiper-container" data-speed="1000"
						data-breakpoints="1" data-space="30" data-slides-per-view="4"
						data-xs-slides="1" data-sm-slides="2" data-md-slides="3"
						data-lg-slides="3">
						<div class="swiper-wrapper">
							<div th:each="ar:${articles}" class="swiper-slide">
								<a th:href="@{http://localhost:8089/blogDetail(id=${ar.id})}"><img th:src="@{'img/blog-img-'+${ar.id}%10+'.jpg'}" alt=""></a>
								<div class="team-description">
									<br>
									<div class="empty-space h10-xs"></div>
									<span th:text=${ar.title}></span>
								</div>
							</div>
						</div>
						<div class="empty-space h35-xs"></div>
						<div class="swiper-pagination-wrapper">
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>

			</div>
			<!-- end container-fluid-style2 -->
			<div class="empty-space h45-xs h90-md fl"></div>

			<!-- footer -->
			<footer class="footer-style">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<div class="copyright normal-s">
								Copyright &copy; 2017.Company name All rights reserved.More
								Templates <a href="http://www.cssmoban.com/" target="_blank"
									title="模板之家">模板之家</a> - Collect from <a
									href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- footer -->

		</div>
		<!-- content -->

		<script src="js/jquery-2.2.4.min.js"></script>
		<script src="js/swiper.jquery.min.js"></script>
		<script src="js/global.js"></script>
</body>
</html>
