<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="img/favicon.ico" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic" rel="stylesheet">
    <title>Opium</title>
</head>
<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
        </div>
    </div>
    <!-- LOADER -->

    <!-- HEADER -->
    <header class="header-style header-style2 header-style3 header-style4">
        <div class="hamburger-icon3">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-content">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <a class="logo" href="index.html">
                        <img src="img/logo.png" alt="#" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="hamburger-icon2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="normal-s">
                        <ul>
                            <li class="dropdown-plus">
                                <a href="index.html">HOME</a>
                                <span></span>
                                <ul>
                                    <li><a href="index.html">Home #1</a></li>
                                    <li><a href="index2.html">Home #2</a></li>
                                    <li><a href="index3.html">Home #3</a></li>
                                    <li><a href="index4.html">Home #4</a></li>
                                    <li><a href="index5.html">Home #5</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="about.html">ABOUT</a>
                            </li>
                            <li>
                                <a href="detail.html">PORTFOLIO</a>
                            </li>
                            <li class="dropdown-plus">
                                <a href="blog.html">BLOG</a>
                                <span></span>
                                <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blogdetail.html">Blog detail</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="section">
                    <p>A small design & technology freelancer based out of Atlanta, GA. Catch up on my latest projects and get in touch.</p>
                </div>
                <div class="category">
                    <span class="small-1">CATEGORY</span>
                    <ul>
                        <li class="active">All</li>
                        <li>Development</li>
                        <li>Illustration</li>
                        <li>Product</li>
                        <li>Typography</li>
                    </ul>
                </div>
                <div class="sort-by">
                    <span class="small-1">SORT BY</span>
                    <ul>
                        <li>Random</li>
                        <li class="active">Popular</li>
                        <li>Rate</li>
                    </ul>
                </div>
                <div class="normal-3 section">
                    <ul>
                        <li>
                            <a href="tel:+138(095)6526538">+138 (095) 6526 538</a>
                        </li>
                        <li>
                            <a href="mailto:info@opium.com">info@opium.com</a>
                        </li>
                    </ul>
                    <div class="empty-space h10-xs fl"></div>
                    <div class="follow">
                        <a class="social" href="https://www.facebook.com/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.instagram.com/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.pinterest.com/" target="_blank">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.twitter.com/" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mob-icon"></div> 
        </div>                                                          
    </header>
    <!-- HEADER -->
    
    <!-- OVERLAY-MENU -->
    <div class="overlay-wrapper height-min">
        <div class="overlay-animation"></div>
        <div class="flex">
            <div class="flex-in">
                <div class="overlay-menu">
                    <div class="container">
                        <div class="row">
                            <div class="btn-close"><span></span><span></span></div>
                            <div class="col-lg-2 col-lg-offset-5">
                                <ul>
                                    <li class="dropdown-plus">
                                        <a href="index.html">HOME</a>
                                        <span></span>
                                        <ul>
                                            <li><a href="index.html">Home #1</a></li>
                                            <li><a href="index2.html">Home #2</a></li>
                                            <li><a href="index3.html">Home #3</a></li>
                                            <li><a href="index4.html">Home #4</a></li>
                                            <li><a href="index5.html">Home #5</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about.html">ABOUT</a>
                                    </li>
                                    <li>
                                        <a href="detail.html">PORTFOLIO</a>
                                    </li>
                                    <li class="dropdown-plus">
                                        <a href="blog.html">BLOG</a>
                                        <span></span>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blogdetail.html">Blog detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">CONTACT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end OVERLAY-MENU -->

    <!-- content -->
    <div id="content-wrapper">
        
        <div class="empty-space h35-xs h90-sm"></div>
        <div class="container-fluid-style2">
            
            <div class="empty-space h100-xs h175-md"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                   
                      <form th:action="@{/updateUserInfo}" th:object="${userinfo}" method="post">
                        <ul>
                        <li>上传头像<input type="file" name="avatar"/></li>
                         <div class="empty-space h30-xs"></div>
                        <li>上传背景墙<input type="file" name="background"/></li>
                         <div class="empty-space h30-xs"></div>
                        <li>昵称:<input type="text" name="Name" th:value="${info.Name}"/></li>
                         <div class="empty-space h30-xs"></div>
                        <li>个性签名<input type="text" name="signature" th:value="${info.signature}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>自我介绍:<input type="text" name="self_introduce" th:value="${info.self_introduce}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>生日:<input type="text" name="birthday" th:value="${info.birthday}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>地址:<input type="text" name="address" th:value="${info.address}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>性别:<select name="gender" th:value="${info.gender}" >
  <option value ="男">男</option>
  <option value ="女">女</option>
  
</select></li>
                        </ul>
                        <div class="empty-space h30-xs"></div>
                        <input type="submit" value="提交"/>
                      </form> 
                      

                    
                </div>
            </div>
            <div class="empty-space h30-xs"></div>
            <div class="row">
               
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css"> 
    
    </style>
</head>
<body>  
    
    <script type="text/javascript">     
        document.getElementById('file').onchange=function(){
            /*let type=this.files[0].type;
            if(!/image\/(png|jpg)/.exec(type))
                alert('上传格式不符')*/
            let type=this.files[0].name;
            if(!(/\.?\.(png|jpg)/.exec(type)))
                alert('上传格式不符')
        }
    </script>
</body>

            
        <!-- end container-fluid-style2 -->
        <div class="empty-space h45-xs h90-md fl"></div>

        <!-- footer -->
        <footer class="footer-style">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright normal-s">
                           
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
                
    </div>
    <!-- content -->

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/global.js"></script>     
</body>
</html>
