<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="img/favicon.ico" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/examples.css">
<link rel="stylesheet" type="text/css" href="css/image-picker.css">   
    <title>Opium</title>
</head>
<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
        </div>
    </div>
    <!-- LOADER -->

    <!-- HEADER -->
    <header class="header-style header-style2 header-style3 header-style4">
        <div class="hamburger-icon3">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-content">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <a class="logo" href="index.html">
                        <img src="img/logo.png" alt="#" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="hamburger-icon2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="normal-s">
                         <ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
                    </nav>
                </div>
                <div class="section">
                    <p>A small design & technology freelancer based out of Atlanta, GA. Catch up on my latest projects and get in touch.</p>
                </div>
                <div class="category">
                    <span class="small-1">CATEGORY</span>
                    <ul>
                        <li class="active">All</li>
                        <li>Development</li>
                        <li>Illustration</li>
                        <li>Product</li>
                        <li>Typography</li>
                    </ul>
                </div>
                <div class="sort-by">
                    <span class="small-1">SORT BY</span>
                    <ul>
                        <li>Random</li>
                        <li class="active">Popular</li>
                        <li>Rate</li>
                    </ul>
                </div>
                <div class="normal-3 section">
                    <ul>
                        <li>
                            <a href="tel:+138(095)6526538">+138 (095) 6526 538</a>
                        </li>
                        <li>
                            <a href="mailto:info@opium.com">info@opium.com</a>
                        </li>
                    </ul>
                    <div class="empty-space h10-xs fl"></div>
                    <div class="follow">
                        <a class="social" href="https://www.facebook.com/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.instagram.com/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.pinterest.com/" target="_blank">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.twitter.com/" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mob-icon"></div> 
        </div>                                                          
    </header>
    <!-- HEADER -->
    
    <!-- OVERLAY-MENU -->
    <div class="overlay-wrapper height-min">
        <div class="overlay-animation"></div>
        <div class="flex">
            <div class="flex-in">
                <div class="overlay-menu">
                    <div class="container">
                        <div class="row">
                            <div class="btn-close"><span></span><span></span></div>
                            <div class="col-lg-2 col-lg-offset-5">
                               <ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end OVERLAY-MENU -->

    <!-- content -->
    <div id="content-wrapper">
        
        <div class="empty-space h35-xs h90-sm"></div>
        <div class="container-fluid-style2">
            
            <div class="empty-space h100-xs h175-md"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                   
                      <form th:action="@{/updateUserInfo}" th:object="${userinfo}" method="post">
                        <ul>
                        <li>上传头像：
                        <div class="picker">
		<select name="avatar" class='image-picker'>
			<option data-img-src='img/img-footer-1.jpg' value='1'>  Page 1  </option>
			<option data-img-src='img/img-footer-2.jpg' value='2'>  Page 2  </option>
			<option data-img-src='img/img-footer-3.jpg' value='3'>  Page 3  </option>
			<option data-img-src='img/img-footer-4.jpg' value='4'>  Page 4  </option>
			<option data-img-src='img/img-footer-5.jpg' value='5'>  Page 5  </option>
			<option data-img-src='img/img-footer-6.jpg' value='6'>  Page 6  </option>
			<option data-img-src='img/img-footer-7.jpg' value='7'>  Page 7  </option>
			<option data-img-src='img/img-footer-8.jpg' value='8'>  Page 8  </option>
			<option data-img-src='img/img-footer-9.jpg' value='9'>  Page 9  </option>			
		</select>
	</div>
                        </li>
                         <div class="empty-space h30-xs"></div>
                        
                         <div class="empty-space h30-xs"></div>
                        <li>昵称:<input type="text" name="Name" th:value="${info.Name}"/></li>
                         <div class="empty-space h30-xs"></div>
                        <li>个性签名<input type="text" name="signature" th:value="${info.signature}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>自我介绍:<input type="text" name="self_introduce" th:value="${info.self_introduce}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>生日:<input th:value="${info.birthday}" name="birthday" type="text" class="demo-input" placeholder="请选择日期" id="test1"></li>
                         <div class="empty-space h30-xs"></div>
                        <li>地址:<input type="text" name="address" th:value="${info.address}" /></li>
                         <div class="empty-space h30-xs"></div>
                        <li>性别:<select name="gender" th:value="${info.gender}" >
  <option value ="男">男</option>
  <option value ="女">女</option>
  
</select></li>
                        </ul>
                        <div class="empty-space h30-xs"></div>
                        <input type="submit" value="提交"/>
                      </form> 
                      

                    
                </div>
            </div>
            <div class="empty-space h30-xs"></div>
            <div class="row">
               
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css"> 
    
    </style>
</head>
<body>  
    
    <script type="text/javascript">     
        document.getElementById('file').onchange=function(){
            /*let type=this.files[0].type;
            if(!/image\/(png|jpg)/.exec(type))
                alert('上传格式不符')*/
            let type=this.files[0].name;
            if(!(/\.?\.(png|jpg)/.exec(type)))
                alert('上传格式不符')
        }
    </script>
</body>

            
        <!-- end container-fluid-style2 -->
        <div class="empty-space h45-xs h90-md fl"></div>

        <!-- footer -->
        <footer class="footer-style">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright normal-s">
                           
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
                
    </div>
    <!-- content -->

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/global.js"></script> 
    <!--必要文件-->  

<script src="js/jquery.min.js" type="text/javascript"></script>
<!--瀑布流布局插件-->
<script src="js/jquery.masonry.min.js" type="text/javascript"></script>
<!--图片选择器插件-->
<script src="js/image-picker.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){

	$("select.image-picker").imagepicker({
		hide_select:false
	});
	
	$("select.image-picker.show-labels").imagepicker({
		hide_select:false, 
		show_label:true
	});
	
	$("select.image-picker.limit_callback").imagepicker({
		limit_reached:function(){
			alert('We are full!')
		},hide_select:false
	});
	
	//瀑布流布局
	var container = $("select.image-picker.masonry").next("ul.thumbnails");
	
	container.imagesLoaded(function(){ 
		container.masonry({ 
			itemSelector:"li"
		}); 
	});
	
});
</script>  
<script src="js/laydate.js"></script> <!-- 改成你的路径 -->
<script>
lay('#version').html('-v'+ laydate.v);

//执行一个laydate实例
laydate.render({
  elem: '#test1' //指定元素
});
</script>  
</body>
</html>
