<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="img/favicon.ico" rel="shortcut icon" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic"
	rel="stylesheet">
<!-- <link rel="stylesheet" href="m/css/style.css" />
        <link rel="stylesheet" href="m/css/editormd.preview.css" /> -->
<link rel="shortcut icon"
	href="https://pandao.github.io/editor.md/favicon.ico"
	type="image/x-icon" />
<title>Opium</title>
</head>
<body>
	<!-- LOADER -->
	<div id="loader-wrapper">
		<div class="cssload-container">
			<div class="cssload-whirlpool"></div>
		</div>
	</div>
	<!-- LOADER -->

	<!-- HEADER -->
	<header class="header-style header-style2 header-style3 header-style4">
		<div class="hamburger-icon3">
			<span></span> <span></span> <span></span>
		</div>
		<div class="header-content">
			<div class="row">
				<div class="col-xs-6 col-sm-2">
					<a class="logo" href="index.html"> <img src="img/logo.png"
						alt="#" />
					</a>
				</div>
				<div class="col-xs-6 col-sm-10">
					<div class="hamburger-icon">
						<span></span> <span></span> <span></span>
					</div>
					<div class="hamburger-icon2">
						<span></span> <span></span> <span></span>
					</div>
					<nav class="normal-s">
						<ul>

							<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
								<span></span>
							<li><a th:if="${info} == null" th:text="登录"
								th:href="@{http://localhost:8084/tologin}"></a></li>
							<li><a th:if="${info} == null" th:text="注册"
								th:href="@{http://localhost:8084/regist}"></a></li>

							<li><a th:if="${info} != null"
								th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
								th:text="${info.name}"></a></li>

							<li><a th:if="${info} != null"
								th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

						</ul>
					</nav>
				</div>
				<div class="section">
					<p>A small design & technology freelancer based out of Atlanta,
						GA. Catch up on my latest projects and get in touch.</p>
				</div>

				<div class="normal-3 section">
					<ul>
						<li><a href="tel:+138(095)6526538">+138 (095) 6526 538</a></li>
						<li><a href="mailto:info@opium.com">info@opium.com</a></li>
					</ul>
					<div class="empty-space h10-xs fl"></div>
					<div class="follow">
						<a class="social" href="https://www.facebook.com/" target="_blank">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a> <a class="social" href="https://www.instagram.com/"
							target="_blank"> <i class="fa fa-instagram"
							aria-hidden="true"></i>
						</a> <a class="social" href="https://www.pinterest.com/"
							target="_blank"> <i class="fa fa-pinterest-p"
							aria-hidden="true"></i>
						</a> <a class="social" href="https://www.twitter.com/" target="_blank">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="mob-icon"></div>
		</div>
	</header>
	<!-- HEADER -->

	<!-- OVERLAY-MENU -->
	<div class="overlay-wrapper height-min">
		<div class="overlay-animation"></div>
		<div class="flex">
			<div class="flex-in">
				<div class="overlay-menu">
					<div class="container">
						<div class="row">
							<div class="btn-close">
								<span></span><span></span>
							</div>
							<div class="col-lg-2 col-lg-offset-5">
								<ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end OVERLAY-MENU -->

	<!-- OVERLAY-VIDEO -->
	<div class="overlay-wrapper height-min video">
		<div class="overlay-animation"></div>
		<div class="iframe-wrapper">
			<iframe class="full-size" src="img/transparent.png" allowfullscreen></iframe>
		</div>
		<div class="btn-close">
			<span></span><span></span>
		</div>
	</div>
	<!-- end OVERLAY-VIDEO -->


	<!-- content -->
	<div id="content-wrapper">

		<div class="empty-space h35-xs h90-sm"></div>
		<div class="container-fluid-style2">
			<div class="swiper-banner">
				<div class="swiper-container" data-speed="1000"
					data-slides-per-view="1" data-breakpoints="1" data-xs-slides="1"
					data-sm-slides="1" data-md-slides="1" data-lg-slides="1">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="#"><span class="bg"
								style="background-image: url(img/banner-img-1.jpg);"></span></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><span class="bg"
								style="background-image: url(img/banner-img-2.jpg);"></span></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><span class="bg"
								style="background-image: url(img/banner-img-3.jpg);"></span></a>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="container-fluid-in-wrapper">
				<div class="container-fluid-in">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="empty-space h25-xs h55-md"></div>
							<article>
								<h1 class="h1-2" th:text=${article.title}></h1>
								<div class="empty-space h20-xs"></div>
								<span class="autor small-1"> <span
									th:text="${article.create_time}"></span> <span
									th:text="${user.Name}"></span> 5 <i class="fa fa-comments-o"></i>
									32 <i class="fa fa-heart-o"></i>
								</span>
								<div class="empty-space h30-xs"></div>
								<p class="normal-l grey-dark" th:text="${article.summary}"></p>
							</article>
						</div>
					</div>
					<div class="empty-space h30-xs"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="section">
								<div id="test-editormd-view2">
									<textarea th:text="${article.content}" id="append-test"
										style="display: none;">

</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="empty-space h20-xs"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="container-fluid-inner">
								<div class="swiper-with-img">
									<div class="swipers-img">
										<img src="img/blog-img-6-2.jpg" alt="">
									</div>
									<div class="swiper-container" data-speed="1000"
										data-breakpoints="1" data-space="10" data-slides-per-view="4"
										data-xs-slides="2" data-sm-slides="4" data-md-slides="4"
										data-lg-slides="4">
										<div class="swiper-wrapper"></div>
										<div class="swiper-pagination"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="empty-space h40-xs"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="section"></div>
						</div>
					</div>
					<div class="empty-space h20-xs"></div>

					<div class="empty-space h40-xs"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="section"></div>
						</div>
					</div>
					<div class="empty-space h40-xs"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-md-6">
									<div class="tags">
										<span>标签</span> <a th:text=${article.tags} class="btn-style3"
											href="#">CINEMA</a>

									</div>
								</div>
								<div class="empty-space h20-xs h0-md"></div>
								<div class="col-md-6">
									<div class="follow">
										<span class="pull-left">SHARE</span> <a class="social"
											href="https://www.facebook.com/" target="_blank"> <i
											class="fa fa-facebook" aria-hidden="true"></i>
										</a> <a class="social" href="https://www.instagram.com/"
											target="_blank"> <i class="fa fa-instagram"
											aria-hidden="true"></i>
										</a> <a class="social" href="https://www.pinterest.com/"
											target="_blank"> <i class="fa fa-pinterest-p"
											aria-hidden="true"></i>
										</a> <a class="social" href="https://www.twitter.com/"
											target="_blank"> <i class="fa fa-twitter"
											aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="empty-space h70-xs"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="author-block">
								<div class="row">
									<div class="col-sm-3">
										<div
											style="width: 137px; height: 137px; border-radius: 250px; overflow: hidden;">
											<img th:src="@{'img/img-footer-'+${user.avatar}+'.jpg'}"
												alt="">
										</div>
										<div class="empty-space h10-xs"></div>
										<div class="follow-style2">
											<a href="https://www.facebook.com/"><i
												class="fa fa-facebook" aria-hidden="true"></i></a> <a
												href="https://www.instagram.com/"><i
												class="fa fa-instagram" aria-hidden="true"></i></a> <a
												href="https://www.pinterest.com/"><i
												class="fa fa-pinterest-p" aria-hidden="true"></i></a> <a
												href="https://www.twitter.com/"><i class="fa fa-twitter"
												aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="col-sm-9">
										<article>
											<p>文章作者</p>
											<h6 class="h6" th:text="${user.Name}"></h6>
											<p th:text="${user.signature}"></p>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="empty-space h50-xs h105-md"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<article>
								<h2 class="h1-2">最近发表</h2>
							</article>
							<div class="empty-space h30-xs h60-md fl"></div>
							<div class="swiper-with-pagination">
								<div class="swiper-container" data-speed="1000"
									data-breakpoints="1" data-space="30" data-slides-per-view="3"
									data-xs-slides="1" data-sm-slides="2" data-md-slides="2"
									data-lg-slides="2">
									<div class="swiper-wrapper">
										<div class="swiper-slide" th:each="list:${articleList}">
											<a
												th:href="@{http://localhost:8089/blogDetail(id=${list.id})}"><img
												th:src="@{'img/blog-img-'+${list.id}%10+'.jpg'}" alt=""><span>查看</span></a>
											<div class="description">
												<a
													th:href="@{http://localhost:8089/blogDetail(id=${list.id})}"
													class="big-1 mouseover-2" th:text="${list.title}"></a>
												<div class="empty-space h10-xs"></div>
												<div class="autor small-1">
													<span th:text=${list.create_time}></span>
												</div>
												<div class="empty-space h5-xs"></div>
												<p th:text="${list.summary}"></p>
											</div>
										</div>

									</div>
									<div class="swiper-pagination-wrapper">
										<div class="swiper-pagination"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="empty-space h50-xs h105-md"></div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<article>
								<h2 class="h1-2">评论</h2>
							</article>
							<div class="empty-space h30-xs h60-md fl"></div>
							<div class="comments-wrapper">
								<div class="comment" th:each="comment:${commnetList}">
									<img th:src="@{'img/img-footer-'+${comment.avatar}+'.jpg'}"
										alt="">
									<div class="description">
										<span class="big" th:text=${comment.userName}></span> <span
											th:text="${comment.comment.createTime}"></span>
										<div class="empty-space h10-xs"></div>
										<p th:text="${comment.comment.content}"></p>
										<div class="empty-space h15-xs"></div>
										<a class="btn-style1" href="#"><span></span></a>
									</div>
								</div>
								<div class="empty-space h25-xs h45-md"></div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="form-wrapper style2">
								<div class="empty-space h35-xs"></div>
								<h6 class="h7">留言</h6>
								<div class="empty-space h30-xs"></div>
								<form th:action="@{/saveComment}" th:object="${Comment}"
									method="post">
									<div class="input-wrapper">
										<div class="input-style textarea">
											<textarea id="inputMessage" name="content" class="input"
												required></textarea>
											<label for="inputMessage">Your message...</label>
										</div>
									</div>
									<div class="empty-space h20-xs fl"></div>
									<button class="btn-style1 style2" type="submit">
										<span>SUBMIT</span>
									</button>
								</form>
								<div class="empty-space h50-xs h90-md"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end container-fluid-style2 -->

		<!-- footer -->
		<footer class="footer-style">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="copyright normal-s"></div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer -->

	</div>
	<!-- content -->

	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/swiper.jquery.min.js"></script>
	<script src="js/global.js"></script>
	<!-- <script src="m/js/jquery.min.js"></script> -->
	<script src="m/lib/marked.min.js"></script>
	<script src="m/lib/prettify.min.js"></script>

	<script src="m/lib/raphael.min.js"></script>
	<script src="m/lib/underscore.min.js"></script>
	<script src="m/lib/sequence-diagram.min.js"></script>
	<script src="m/lib/flowchart.min.js"></script>
	<script src="m/lib/jquery.flowchart.min.js"></script>

	<script src="m/js/editormd.js"></script>
	<script type="text/javascript">
		$(function() {
			var testEditormdView, testEditormdView2;

			$.get("test.md", function(markdown) {

				testEditormdView = editormd.markdownToHTML(
						"test-editormd-view", {
							markdown : markdown,//+ "\r\n" + $("#append-test").text(),
							//htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
							htmlDecode : "style,script,iframe", // you can filter tags decode
							//toc             : false,
							tocm : true, // Using [TOCM]
							tocContainer : "#custom-toc-container", // 自定义 ToC 容器层
							//gfm             : false,
							//tocDropdown     : true,
							// markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
							emoji : true,
							taskList : true,
							tex : true, // 默认不解析
							flowChart : true, // 默认不解析
							sequenceDiagram : true, // 默认不解析
						});

				//console.log("返回一个 jQuery 实例 =>", testEditormdView);

				// 获取Markdown源码
				//console.log(testEditormdView.getMarkdown());

				//alert(testEditormdView.getMarkdown());
			});

			testEditormdView2 = editormd.markdownToHTML("test-editormd-view2",
					{
						htmlDecode : "style,script,iframe", // you can filter tags decode
						emoji : true,
						taskList : true,
						tex : true, // 默认不解析
						flowChart : true, // 默认不解析
						sequenceDiagram : true, // 默认不解析
					});
		});
	</script>
</body>
</html>
