<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="img/favicon.ico" rel="shortcut icon" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic"
	rel="stylesheet">
<title>Opium</title>
</head>
<body>
	<!-- LOADER -->
	<div id="loader-wrapper">
		<div class="cssload-container">
			<div class="cssload-whirlpool"></div>
		</div>
	</div>
	<!-- LOADER -->

	<!-- HEADER -->
	<header class="header-style header-style2 header-style3 header-style4">
		<div class="hamburger-icon3">
			<span></span> <span></span> <span></span>
		</div>
		<div class="header-content">
			<div class="row">
				<div class="col-xs-6 col-sm-2">
					<a class="logo" href="/"> <img src="img/logo.png" alt="#" />
					</a>
				</div>
				<div class="col-xs-6 col-sm-10">
					<div class="hamburger-icon">
						<span></span> <span></span> <span></span>
					</div>
					<div class="hamburger-icon2">
						<span></span> <span></span> <span></span>
					</div>
					<nav class="normal-s">
						   <ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
					</nav>
				</div>
				<div class="section">
					<p>A small design & technology freelancer based out of Atlanta,
						GA. Catch up on my latest projects and get in touch.</p>
				</div>
				<div class="category">
					<a th:href="@{/blogByUserId(userId=${id},page=0)}"> <span class="small-1">全部文章</span></a>										
					<ul th:each="catalog:${catalogs}">						
						<li class="active">
						<a th:href="@{/blogBycat(catId=${catalog.id},userId=${id},page=0)}">
						<p style="color: black;" th:utext="${catalog.name}"></p></a></li>
					</ul>
				</div>
				<div class="sort-by">
					<span class="small-1">SORT BY</span>
					<ul>
						<li>Random</li>
						<li class="active">Popular</li>
						<li>Rate</li>
					</ul>
				</div>
				<div class="normal-3 section">
					<ul>
						<li><a href="tel:+138(095)6526538">+138 (095) 6526 538</a></li>
						<li><a href="mailto:info@opium.com">info@opium.com</a></li>
					</ul>
					<div class="empty-space h10-xs fl"></div>
					<div class="follow">
						<a class="social" href="https://www.facebook.com/" target="_blank">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a> <a class="social" href="https://www.instagram.com/"
							target="_blank"> <i class="fa fa-instagram"
							aria-hidden="true"></i>
						</a> <a class="social" href="https://www.pinterest.com/"
							target="_blank"> <i class="fa fa-pinterest-p"
							aria-hidden="true"></i>
						</a> <a class="social" href="https://www.twitter.com/" target="_blank">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="mob-icon"></div>
		</div>
	</header>
	<!-- HEADER -->

	<!-- OVERLAY-MENU -->
	<div class="overlay-wrapper height-min">
		<div class="overlay-animation"></div>
		<div class="flex">
			<div class="flex-in">
				<div class="overlay-menu">
					<div class="container">
						<div class="row">
							<div class="btn-close">
								<span></span><span></span>
							</div>
							<div class="col-lg-2 col-lg-offset-5">
								   <ul>

									<li class="dropdown-plus"><a href="http://localhost:8080">首页</a>
										<span></span>
									<li><a th:if="${info} == null" th:text="登录"
										th:href="@{http://localhost:8084/tologin}"></a></li>
									<li><a th:if="${info} == null" th:text="注册"
										th:href="@{http://localhost:8084/regist}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8085/userInfo(userId=${info.id})}"
										th:text="${info.name}"></a></li>

									<li><a th:if="${info} != null"
										th:href="@{http://localhost:8083/blogByUserId(userId=${info.id},page=0)}">我的文章</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end OVERLAY-MENU -->

	<!-- content -->
	<div id="content-wrapper">

		<div class="empty-space h45-xs h65-sm"></div>
		<div class="container-fluid-style2">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<article>
						<h1 class="h1">OUR BLOG</h1>
						<div class="empty-space h15-xs"></div>
						<p class="normal-l dark-grey">Praesent euismod sollicitudin
							tristique. Donec imperdiet convallis ante, id porttitor leo
							consequat non. Suspendisse rutrum sed nisl in luctus. Proin
							accumsan eget lorem id varius</p>
					</article>
				</div>
			</div>
			<div class="empty-space h15-xs h45-sm"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="content-menu">
						<div class="button-drop">
							<a href="#"> <span>ALL</span> <i class="fa fa-angle-down"
								aria-hidden="true"></i> <i class="fa fa-angle-up"
								aria-hidden="true"></i>
							</a>
						</div>
			
						<ul th:each="catalog:${catalogs}">
							<li>
						<a th:text="${catalog.name}" th:href="@{/blogBycat(catId=${catalog.id},userId=${id},page=0)}">
						</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="empty-space h40-xs h60-md"></div>

			<!--left-right -->
						<div class="left-right">
				<div class="row"  th:if="${article1} ne null">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="clip left-side">
							<a th:if="${author1 ne null}" href="#" class="bg"
								style="background-image: url(img/blog-img-1.jpg);"></a>
						</div>
						<div class="row" >
							<div class="empty-space h30-xs h30-sm h60-md"></div>
							<div class="col-md-12 text-center">
								<a class="btn-style3" href="#">DISIGN</a>
							</div>
							<div class="empty-space h15-xs fl"></div>
							<div class="col-md-12 text-center">
								<div class="autor small-1">
									<a th:href="@{http://localhost:8085/userInfo(userId=${author1.id})}" th:text="${author1.name}"></a> <span th:text="${date1}"></span>
									5 <i class="fa fa-comments-o"></i> <span th:text="love1"></span>
									<i class="fa fa-heart-o"></i>
								</div>
							</div>
						</div>
						<div class="empty-space h15-xs"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<div class="section">
									<div class="h5">
										<span class="mouseover-2"> <a th:href="@{http://localhost:8089/blogDetail(id=${article1.id})}"><span
												th:text="${article1.title}"></span></a>
										</span>
									</div>
									<p>
										<span th:text="${article1.summary}"></span>
									</p>
								</div>
							</div>
							<div class="empty-space h60-xs fl"></div>
						</div>
					</div>
				</div>
				<div class="empty-space h30-xs fl"></div>
				<div class="row"  th:if="${article2} ne null">
					<div class="col-md-6 pull-right"></div>
					<div class="col-md-6">
						<div class="clip right-side">
							<a th:if="${author2 ne null}" href="#" class="bg"
								style="background-image: url(img/blog-img-2.jpg);"></a>
						</div>
						<div class="row">
							<div class="empty-space h30-xs h30-sm h60-md fl"></div>
							<div class="col-md-12 text-center">
								<a th:if="${author1 ne null}" class="btn-style3" href="#">DEVELOPMENT</a>
							</div>
							<div class="empty-space h15-xs fl"></div>
							<div class="col-md-12 text-center">
								<div class="autor small-1">
									<a th:href="@{http://localhost:8085/userInfo(userId=${author2.id})}" th:text="${author2.name}"></a> <span th:text="${date2}"></span>
									5 <i th:if="${author2 ne null}" class="fa fa-comments-o"></i>
									32 <i class="fa fa-heart-o"></i>
								</div>
							</div>
						</div>
						<div class="empty-space h15-xs"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<div class="section">
									<div class="h5">
										<span class="mouseover-2"> <a th:href="@{http://localhost:8089/blogDetail(id=${article2.id})}"><span
												th:text="${article2.title}"></span></a>
										</span>
									</div>
									<p>
										<span th:text="${article2.summary}"></span>
									</p>
								</div>
							</div>
							<div class="empty-space h60-xs fl"></div>
						</div>
					</div>
				</div>
				<div class="empty-space h30-xs fl"></div>
				<div class="row"  th:if="${article3} ne null">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="clip left-side">
							<a th:if="${author3 ne null}" href="#" class="bg"
								style="background-image: url(img/blog-img-3.jpg);"></a>
						</div>
						<div class="row">
							<div class="empty-space h30-xs h30-sm h60-md fl"></div>
							<div class="col-md-12 text-center">
								<a th:if="${author3 ne null}" class="btn-style3" href="#">DEVELOPMENT</a>
							</div>
							<div class="empty-space h15-xs fl"></div>
							<div class="col-md-12 text-center">
								<div class="autor small-1">
									<a th:href="@{http://localhost:8085/userInfo(userId=${author3.id})}" th:text="${author3.name}"></a> <span th:text="${date3}"></span>
									5 <i th:if="${author3 ne null}" class="fa fa-comments-o"></i>
									32 <i class="fa fa-heart-o"></i>
								</div>
							</div>
						</div>
						<div class="empty-space h15-xs"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<div class="section">
									<div class="h5">
										<span class="mouseover-2"> <a th:href="@{http://localhost:8089/blogDetail(id=${article3.id})}"><span
												th:text="${article3.title}"></span></a>
										</span>
									</div>
									<p>
										<span th:text="${article3.summary}"></span>
									</p>
								</div>
							</div>
							<div class="empty-space h60-xs fl"></div>
						</div>
					</div>
				</div>
				<div class="empty-space h30-xs fl"></div>
				<div class="row"  th:if="${article4} ne null">
					<div class="col-md-6 pull-right"></div>
					<div class="col-md-6">
						<div class="clip right-side">
							<a th:if="${author4 ne null}" href="#" class="bg"
								style="background-image: url(img/blog-img-4.jpg);"></a>
						</div>
						<div class="row">
							<div class="empty-space h30-xs h30-sm h60-md fl"></div>
							<div class="col-md-12 text-center">
								<a th:if="${author4 ne null}" class="btn-style3" href="#">ADVARTISING</a>
							</div>
							<div class="empty-space h15-xs fl"></div>
							<div class="col-md-12 text-center">
								<div class="autor small-1">
									<a th:href="@{http://localhost:8085/userInfo(userId=${author4.id})}" th:text="${author4.name}"></a> <span th:text="${date4}"></span>
									5 <i th:if="${author4 ne null}" class="fa fa-comments-o"></i>
									32 <i class="fa fa-heart-o"></i>
								</div>
							</div>
						</div>
						<div class="empty-space h15-xs"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<div class="section">
									<div class="h5">
										<span class="mouseover-2"> <a th:href="@{http://localhost:8089/blogDetail(id=${article4.id})}"><span
												th:text="${article4.title}"></span></a>
										</span>
									</div>
									<p>
										<span th:text="${article4.summary}"></span>
									</p>
								</div>
							</div>
							<div class="empty-space h60-xs fl"></div>
						</div>
					</div>
				</div>
				<div class="empty-space h30-xs fl"></div>
				<div class="row"  th:if="${article5} ne null">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="clip left-side">
							<a th:if="${author5 ne null}" href="#" class="bg"
								style="background-image: url(img/blog-img-5.jpg);"></a>
						</div>
						<div class="row">
							<div class="empty-space h30-xs h30-sm h60-md fl"></div>
							<div class="col-md-12 text-center">
								<a th:if="${author5 ne null}" class="btn-style3" href="#">BRENDING</a>
							</div>
							<div class="empty-space h15-xs fl"></div>
							<div class="col-md-12 text-center">
								<div class="autor small-1">
									<a th:href="@{http://localhost:8085/userInfo(userId=${author5.id})}" th:text="${author5.name}"></a> <span th:text="${date5}"></span>
									5 <i th:if="${author5 ne null}" class="fa fa-comments-o"></i>
									32 <i class="fa fa-heart-o"></i>
								</div>
							</div>
						</div>
						<div class="empty-space h15-xs"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<div class="section">
									<div class="h5">
										<span class="mouseover-2"> <a th:href="@{http://localhost:8089/blogDetail(id=${article5.id})}"><span
												th:text="${article5.title}"></span></a>
										</span>
									</div>
									<p>
										<span th:text="${article5.summary}"></span>
									</p>
								</div>
							</div>
							<div class="empty-space h30-xs h60-sm fl"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- end left-right -->
			<div class="empty-space h15-xs h15-sm h90-md"></div>
			<div class="page-pagination">
				<ul th:if="${TotalElements} ne '0'">
					<li th:if=" ${pageNum} ne '0'"><a
						th:href="@{/blogByUserId(userId=${id},page=0)}">FIRST</a></li>
					<li th:if=" ${pageNum} ne '0'"><a
						th:href="@{/blogByUserId(userId=${id},page=${pageNum-1})}">UP</a></li>
					<li th:if="${totalPage} gt ${pageNum+1}"><a
						th:href="@{/blogByUserId(userId=${id},page=${pageNum+1})}"><span
							th:text="${pageNum+1}"></span></a></li>
					<li th:if="${totalPage} gt ${pageNum+2}"><a
						th:href="@{/blogByUserId(userId=${id},page=${pageNum+2})}"><span
							th:text="${pageNum+2}"></span></a></li>
					<li th:if="${totalPage} gt ${pageNum+3}"><a
						th:href="@{/blogByUserId(userId=${id},page=${pageNum+3})}"><span
							th:text="${pageNum+3}"></span></a></li>
					<li th:if="${totalPage} gt ${pageNum}"><a
						th:href="@{/blogByUserId(userId=${id},page=${pageNum+1})}">DOWN</a></li>
					<li th:if="${totalPage} ne ${pageNum}"><a
						th:href="@{/blogByUserId(userId=${id},page=${totalPage})}">LAST</a></li>
				</ul>
			</div>
		</div>
		<!-- end container-fluid-style2 -->
		<div class="empty-space h0-xs h30-sm fl"></div>

		<!-- footer -->
		<footer class="footer-style">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="copyright normal-s">
							
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer -->

	</div>
	<!-- content -->

	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/global.js"></script>
</body>
</html>
